* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
}

section {
  padding: 8rem 7%;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin: 0;
  /*background-color: rgba(0, 0, 0, 0.3);*/
  background-color: #3b7d81;
  z-index: 1;
  padding: 0;
}

.navigation ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation ul li {
  position: relative;
  width: 80px;
  height: 80px;
  list-style-type: none;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 85px;
  font-size: 1.5em;
  transition: 0.5s;
  text-align: center;
  color: #cce2e3;
}

.navigation ul li a:hover .icon {
  color: rgba(255, 255, 255, 1);
}

.navigation ul li a .icon:hover {
  transform: translateY(-8px);
}

.navigation ul li.active a .icon {
  /*color: #cce2e3;*/
  color: #ffffff;
  transform: translateY(-8px);
}

.navigation ul li a .text {
  position: absolute;
  font-weight: 600;
  font-size: 0.6em;
  color: white;
  transform: translateY(0px);
  letter-spacing: 0.2em;
  opacity: 0;
  z-index: 10;
  word-wrap: break-word;
}

.navigation ul li a:hover .text,
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(16px);
}

/* end */

/* home */
.home {
  height: 100vh;
  background-size: cover;
  background-color: #cce2e3;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home p{
  font-size: 25px;
}
/* end */

/* content */

.content {
  background-color: #4b9093;
  transition: transform 0.5s;
  border-radius: 10px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
}

.box {
  flex-basis: 100%; /* Occupy full width */
  background-color: #4b9093;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.text-content,
.image-container {
  flex-basis: calc(50% - 1rem); /* Adjust the width as needed */
  padding: 1rem;
}

.image-container {
  position: relative;
}

.image-container img {
  border-radius: 5px;
  max-width: 100%;
}

.centered-text {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  pointer-events: none;
}

.box h2 {
  color: #fff;
  margin-bottom: 0.5rem;
}

.box p {
  color: #fff;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .box {
    flex-wrap: wrap;
  }

  .text-content,
  .image-container {
    flex-basis: 100%;
    padding: 1rem;
  }
}
/* end */

/* entry */
.container {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
}

h3 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="datetime"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.form-group input[type="text"]:focus,
.form-group input[type="datetime"]:focus {
  outline: none;
  border-color: #006e73;
}

.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  resize: vertical;
  min-height: 100px;
  resize: none;
}

.form-group textarea:focus {
  outline: none;
  border-color: #006e73;
}

.form-group.full-width {
  display: flex;
  gap: 20px;
}

.submit-btn {
  background-color: #006e73;
  font-family: "Nunito", sans-serif;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #3b7d81;
}
/* end */

/* Library */

.library-container {
  margin: 100px 60px;
  padding: 20px;
  height: 100vh;
}

.library-container h1{
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.entry-box {
  background-color: #cce2e3;
  border: 1px solid #4b9093;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.entry-box:hover {
  background-color: #a1cacc;
}

.entry-title {
  font-weight: bold;
}

.entry-details {
  display: none;
}

.entry-box.open .entry-details {
  display: block;
}

/* end */
